@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


.appbar {
    display: flex !important;
    justify-content: space-around !important
}

.css-av538e-MuiButtonBase-root-MuiIconButton-root {
    padding-right: 3rem !important;
}

.main {
    flex-grow: 1;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.inputsearch {
    padding: 1rem;
    padding-top: 3rem;
}


.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem 3rem;

}

.holacontenedor {
    position: relative;
}

.cadaCard {
    margin: 3.5rem;
    height: 27rem;
    width: 22rem !important;
    display: flex;
    justify-content: center;
    background-color: #b1859700 !important;
    box-shadow: none !important;

    padding-left: 2rem;

}

.css-1rtnrqa:hover {
    background-color: #8006378d !important;
}

.css-1rtnrqa {
    background-color: rgb(194 135 160) !important;
    color: black !important;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Zen Loop, cursive !important;
    font-weight: 500;
    font-size: 1.2rem !important;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    /* text-transform: uppercase; */
    min-width: 64px;
    padding: 0 !important;
    border-radius: 10px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: relative;
    bottom: 48%;
    color: white !important;
    width: 6rem !important;
}

.css-3zukih {
    display: flex !important;
    justify-content: center !important;
    -webkit-box-align: center;
    padding: 8px;
}

/*hover boton details*/
.css-1rtnrqa:hover {

    background-color: rgb(208, 177, 190) !important;
}

.textcities {
    position: relative;
    bottom: 100%;
    left: 38%;
    font-family: Zen Loop, cursive !important;
    font-size: 2rem !important;
    background-color: #c287a077;
    width: 7.5rem;
    border-radius: 10px;
    color: white;

}

.textcities2 {
    position: relative;
    bottom: 48%;
    left: 4%;

}

/*image city*/
.MuiCardMedia-root {
    padding: 1rem;
    height: 15rem;
}

.css-1t6e9jv-MuiCardActions-root {
    display: flex;
    justify-content: center !important;
}


.altura {
    min-height: 85vh;
    background-image: url(https://images.unsplash.com/photo-1552764217-6d34d9795ab9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d29ybGR8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    margin: 0;
}

.fondodetalle {
    background-image: url(https://i.pinimg.com/736x/c1/ef/cc/c1efcc7db15ba749b94b31b1110c1e56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}


.tarjetadetalle {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/c1/ef/cc/c1efcc7db15ba749b94b31b1110c1e56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}


.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    display: flex;
    flex-direction: column;
}

.footericons {
    display: flex;
    padding: 0 !important;



}

.css-19r6kue-MuiContainer-root {
    padding: 0 !important;
}

.footericons2 {
    background-color: #c287a0;
    padding: 0 !important;
    justify-content: space-around;
    flex-direction: row;

}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}

button.learn-more {
    margin-bottom: 2rem;
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);

}

button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

.fondosignuppp {
    background-color: #c29cbf;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    object-fit: cover !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    flex-grow: 1 !important;
    min-height: 100vh !important;
}

.noitineraries {
    color: #b1859700;
    background-image: url(../images/enconstrucción-removebg-preview.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20rem 20rem;
    margin-top: 2rem;
    width: 30rem;
    height: 30rem;
}

.input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}

.input:focus {
    outline-color: white;
    place-content: "Enter your message!";
}


.btn {
    padding: 0.9em 1.9em;
    font-size: 16px;
    border: none;
    background: #6285f8;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btn:hover {
    color: rgb(255, 255, 255);
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.096);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: all 0.4s;
}

.btn::after {
    z-index: -2;
    transition: all 0.4s;
}

.btn:hover::before {
    background: rgb(0, 0, 0, 0.315);
    border-radius: 10px;
}

.btn:hover::after {
    background: linear-gradient(to right, #cb6ce6, #38b6ff);
    border-radius: 10px;
    transform: scale(1.07, 1.2) rotateX(180deg);
}

a {
    text-decoration: none;
}

.botonback {
    margin-top: 3rem !important;

}

.fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1552764217-6d34d9795ab9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d29ybGR8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;

}

.css-1gdr7rz {
    background-color: #c287a0c7 !important;
}

.css-122hx2o-MuiPaper-root-MuiCard-root {
    background-color: #c287a0c7 !important;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1pxrgba(0, 0, 0, 0.2), 0px 1px 1px 0pxrgba(0, 0, 0, 0.14), 0px 1px 3px 0pxrgba(0, 0, 0, 0.12);
    overflow: hidden;
    width: 80%;
    margin: 88px;
}

.card-itinerary {
    box-shadow: 0 0 10px 3px rgb(230 216 235 / 96%) !important;
    border-radius: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dobleitinerario {
    width: 70%;
    display: flex;

}

.card-itinerary {
    box-shadow: 0 0 10px 3px rgba(230, 216, 235, 0.964) !important;
    border-radius: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.usercomment {
    display: flex;
}

.nameImageUser {
    display: flex;
    margin: 1rem;
}

.avatar {
    width: 5rem !important;
}




.avatarComments {
    width: 3rem !important;
    margin-top: .4rem;
    margin-left: 1rem;


}

.name {
    margin-bottom: 1rem !important;
    font-family: Zen Loop, cursive;
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: .1rem;
    margin-left: 1rem;
    margin-top: .8rem;
    text-transform: uppercase;
    color: white !important;
}

.textComment {
    padding-top: 1rem;
    width: 100%;
    color: white;

}

.textCommentAdd {

    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 39.6rem;
    font-size: 2rem;
}

.autorimagen {
    display: flex;
    align-items: center;


}

.all-activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actImage {
    height: 10rem;
    width: 12rem !important;
    border-radius: 35px;


}

.actsName {
    background-color: #925fa8 !important;
    border-radius: 10px;
    color: #fff;
    font-family: Zen Loop, cursive;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px 20px;
    text-transform: uppercase;
    width: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30px;
}

.inputcountry {
    width: 20rem !important;
    border-radius: 50px !important;
    background-image: url(../images/fondohero.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    object-fit: cover !important;

}

.borderradius,
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 50px !important;

}

.firstName {
    border-radius: 50px !important;
    background-image: url(../images/fondohero.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    object-fit: cover !important;

}

.form {
    margin: 0 !important
}

.botonform {
    width: 10rem !important;
    height: 3rem !important
}

element.style {
    position: relative;
}

/* centrado: boton google */
.S9gUrf-YoZ4jf {
    display: flex;
    justify-content: center;
    margin: 2rem !important;
}

.allComments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/fondobase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    margin: 10px 30px 0px 30px;
    border-radius: 20PX;
    width: 125vh;


}

/*activities and comments container*/
.css-8atqhb {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}

.activitiesTitle {
    font-size: 1.5rem;
    background-color: #ffe3e2;
    border-radius: 10px;
    width: 15rem;
    color: rgb(186, 142, 142);
    font-family: Zen Loop, cursive;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px 20px;
    text-transform: uppercase;
}

.titlecoments {
    font-size: 1.5rem;
    background-color: #ffe3e2;
    border-radius: 10px;
    width: 15rem;
    color: rgb(186, 142, 142);
    font-family: Zen Loop, cursive;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px 20px;
    text-transform: uppercase;

    /* margin-left: 27.5rem; */



}

.inputandbutton {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.inputComment {

    background-color: #c29cbf !important;
    width: 15rem;
    font-size: 2.2rem !important;
    border-radius: 10px;
    border: 2px solid #925fa8;
    font-family: "Montserrat", sans-serif;

}

.inputComment2 {
    background-color: #e5c6f2 !important;
    width: 30rem;
    height: 4rem;
    border-radius: 50px;
    border: 2px solid #e1bef0;
    font-family: "Montserrat", sans-serif;

}

.input-height {
    height: 4rem !important;
    border-radius: 30px;
    width: 100%;
    text-overflow: clip;


}

.commentsbutton {
    display: flex;
    justify-content: end;


}

.modify {
    background-color: rgb(145, 131, 145);
    border-radius: 20px;
    margin-left: 1rem;
    width: 3rem;
}

.material-symbols-outlined {
    border-radius: 10px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.delete {
    background-color: rgb(209, 106, 106);
    border-radius: 100px;
    margin-left: 1rem;
    width: 3rem;
}

.material-symbols-outlined {
    border-radius: 10px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


.add {
    margin-left: .5rem;
    border-radius: 15px;
    background-color: #a0cce5;
}

.material-symbols-outlined {

    color: #1c1b1b;

    padding: 10px;
    border-radius: 15px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/*activity*/
.css-1qw96cp {
    display: flex;
    justify-content: center;
}

.css-46bh2p-MuiCardContent-root {
    display: flex;
    justify-content: center;
    flex-direction: row !important;
}

.css-1pqm26d-MuiAvatar-img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.textItinerary {
    background-color: rgb(186 142 142);
    border-radius: 50px;
    color: #fff;
    font-family: Zen Loop, cursive;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px 20px;
    text-transform: uppercase;
    width: 18rem !important;
}

@media (max-width: 320px) {

    .dobleitinerario {
        width: 100vh !important;
        margin: 1px;
    }

    .textItinerary {
        background-color: #c287a0;
        border-radius: 50px;
        color: #fff;
        font-family: Zen Loop, cursive;
        font-size: 1rem !important;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 2px 20px;
        text-transform: uppercase;
        width: 12rem !important;
    }

    .css-1qw96cp:last-child {
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    .h5 {

        padding: 1rem;
        font-family: Zen Loop, cursive;
        font-size: .6rem !important;
        font-weight: bolder;
        letter-spacing: .1rem;
        margin-left: 0rem !important;
        text-transform: uppercase;
    }

    .css-1pqm26d-MuiAvatar-img {
        width: 70% !important;
        height: 70% !important;
        text-align: center;
        object-fit: cover;
        color: transparent;
        border-radius: 50px;
    }

    .h51 {

        padding: 3.5rem;
        font-size: 1rem !important;
        text-align: start;
    }

    .inputComment {
        background-color: #c29cbf !important;
        width: 8rem;
        font-size: 2.2rem !important;
        border-radius: 10px;
        border: 2px solid #925fa8;
        font-family: "Montserrat", sans-serif;
    }
}

@media (max-width:689px) {

    .dobleitinerario {
        width: 120% !important;
        height: 100%;
        margin: 1px;
    }

    .css-46bh2p-MuiCardContent-root {
        display: flex !important;
        justify-content: center;
        flex-direction: column !important;
    }

    .css-1qw96cp:last-child {
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    .actImage {
        height: 15rem !important;
        width: 15rem !important;
        border-radius: 35px;
    }

    .actsName {
        background-color: #c287a0;
        border-radius: 10px;
        color: #fff;
        font-family: Zen Loop, cursive;
        font-size: .8rem;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 2px 20px;
        text-transform: uppercase;
        width: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .css-1pqm26d-MuiAvatar-img {

        text-align: center;
        object-fit: cover;
        color: transparent;
        border-radius: 50px;
    }

    .inputComment {
        background-color: #c29cbf !important;

        font-size: 2.2rem !important;
        border-radius: 10px;
        border: 2px solid #925fa8;
        font-family: "Montserrat", sans-serif;
    }

    .inputComment2 {
        background-color: #e5c6f2 !important;
        width: 30vh;
        height: 4rem;
        border-radius: 50px;
        border: 2px solid #e1bef0;
        font-family: "Montserrat", sans-serif;
    }
}

@media (max-width:768px) {
    .dobleitinerario {
        width: 100%;
    }

    .actImage {
        height: 10rem;
        width: 12rem !important;
        border-radius: 35px;
    }

    .actsName {
        background-color: #c287a0;
        border-radius: 10px;
        color: #fff;
        font-family: Zen Loop, cursive;
        font-size: .8rem;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 2px 20px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .inputComment2 {
        background-color: #e5c6f2 !important;
        width: 40vh;
        height: 4rem;
        border-radius: 50px;
        border: 2px solid #e1bef0;
        font-family: "Montserrat", sans-serif;

    }

}

@media (max-width:1024px) {

    .dobleitinerario {
        width: 100%;
    }

    .actImage {
        height: 10rem;
        width: 12rem;
        border-radius: 35px;
    }
}

.css-1bp1ao6 {
    border-radius: 30px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 4px;
}