@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');




.appbar{
    display: flex !important;
    justify-content:space-around !important
}
.css-av538e-MuiButtonBase-root-MuiIconButton-root{
    padding-right: 3rem !important;
}

.main {
    flex-grow: 1;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.inputsearch {
    padding: 1rem;
    padding-top: 3rem;
}


.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem 3rem;

}


/*arriba y abajo es el primero e izquierda y derecha el de 3. orden: arriba derecha, abajo, izquierda*/
.cadaCard {
    margin: 3.5rem;

}

.textcities{
    font-family: 'Cookie', cursive !important; 
    font-size: 2rem !important;
}



.MuiCardMedia-root {
    padding: 1rem;
    margin-top: 1rem;
    height: 15rem;
}

.css-1t6e9jv-MuiCardActions-root {
    display: flex;
    justify-content: center !important;
}



/*ALTURA PARA TODOS LOS MAIN*/
.altura {
    min-height: 85vh;
    background-image: url(https://i.pinimg.com/736x/c1/ef/cc/c1efcc7db15ba749b94b31b1110c1e56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    margin: 0;
}

.fondodetalle {
    background-image: url(https://i.pinimg.com/736x/c1/ef/cc/c1efcc7db15ba749b94b31b1110c1e56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}


.tarjetadetalle {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/c1/ef/cc/c1efcc7db15ba749b94b31b1110c1e56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}


.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    display: flex;
    flex-direction: column;



}











/*.MuiPaper-root{
    background-color: violet !important;
} color de toodo el navbar ver q clase tiene solo a city/home*/

/* .navbar{
    display: flex;
}
.iconsnavbar{
  
}*/

 .footericons {
    display: flex ;
   padding: 0 !important;



}
.css-19r6kue-MuiContainer-root{
    padding: 0 !important;
}
.footericons2{
    background-color: #c287a0;
    padding: 0 !important;
    justify-content: space-around;
    flex-direction: row ;
    
}  

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}

button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);

}

button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

.fondosignuppp{
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F88%2F35%2F83%2F88358363a25c1b3fa002e00fa8c95094.jpg&imgrefurl=https%3A%2F%2Fco.pinterest.com%2Fpin%2F639581584571748035%2F&tbnid=6JKqVoev49InuM&vet=1&docid=zGYIy6VEDP9sFM&w=640&h=799&itg=1&source=sh%2Fx%2Fim) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    object-fit: cover !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    flex-grow: 1 !important;
    min-height: 100vh !important;
}
.noitineraries {
    
    background-image: url(https://www.rivkazibelman.com.ar/wp-content/uploads/2020/08/under_construction_pink_hat.jpg);
    background-repeat: no-repeat;
   background-position: center;
  
}
.input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}

.input:focus {
    outline-color: white;
    place-content: "Enter your message!";
}

/* From uiverse.io by @Mike11jr */
.btn {
    padding: 0.9em 1.9em;
    font-size: 16px;
    border: none;
    background: #6285f8;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btn:hover {
    color: rgb(255, 255, 255);
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.096);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: all 0.4s;
}

.btn::after {
    z-index: -2;
    transition: all 0.4s;
}

.btn:hover::before {
    background: rgb(0, 0, 0, 0.315);
    border-radius: 10px;
}

.btn:hover::after {
    background: linear-gradient(to right, #cb6ce6, #38b6ff);
    border-radius: 10px;
    transform: scale(1.07, 1.2) rotateX(180deg);

}




a {
    text-decoration: none;

}

@media (max-width:545px) {
    .cadaCard {
        width: 100px;
        margin: 1rem;
    }

    .tarjetas {
        margin: 0
    }

}

.botonback{
    margin-top: 3rem !important;
    
}


.fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/c1/ef/cc/c1efcc7db15ba749b94b31b1110c1e56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;

}
.dobleitinerario{
    width: 70%;

}
.card-itinerary {
    /* border-radius: 1px 1px 1px 4px black !important; */
    box-shadow: 0 0 10px 3px rgba(230, 216, 235, 0.964) !important;
    border-radius: 30px !important;
 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.usercomment{
    display: flex;
    
   
 
    
}
.avatar{
    width:5rem !important;
}
.nameImageUser{
    display: flex;



}



.avatarComments{
    width: 3rem !important;
    margin-top: .4rem;
    margin-left: 1rem;
   
  
}
.name{
    margin-bottom: 1rem !important;
    font-family: Zen Loop,cursive;
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: .1rem;
    margin-left: 1rem;
    margin-top: .8rem;
    text-transform: uppercase;
    color: white !important;
}
.textComment{
 
  padding-top: 1rem;
  
  width: 100%;
  color: white;


 
}
.textCommentAdd{
    
    padding-top: 1.5rem;
   padding-bottom: 1rem;
    width: 39.6rem;
    font-size: 2rem;

  
    
}

.autorimagen{
    display: flex;
    align-items: center;
   
   
}
.css-46bh2p-MuiCardContent-root{
    display: flex ;
    justify-content: center;
  
}
.actImage{
    height: 15rem;
    width: 21rem !important;
    border-radius: 35px;
  
 
}
.actsName{
    background-color: 
 #c287a0;
   ;
    border-radius: 10px;
    color: #fff;
    font-family: Zen Loop,cursive;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px 20px;
    text-transform: uppercase;
    width: 13rem;
    margin-left: 4rem;
}


/* fondo "create account del sign up" */



.inputcountry{
    width: 20rem !important;
    border-radius: 50px !important;
    background-image:  url(../images/fondohero.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    object-fit: cover !important;
    
}
.borderradius, .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 50px !important;
    
}
.firstName{
    border-radius: 50px !important;
    background-image:  url(../images/fondohero.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    object-fit: cover !important;

}
.form{
    margin:0 !important
}

.botonform{
    width:10rem !important;
    height:3rem !important

}

element.style {
    position: relative;
}
/* centrado: boton google, registro y logueo de usuario */
.S9gUrf-YoZ4jf{
    display: flex;
    justify-content: center;
    margin: 2rem !important;
}
.allComments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/fondobase.jpg);
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center center ;
    object-fit: cover ;
    margin: 10px 30px 0px 30px;
    border-radius: 20PX;

    
}
.activitiesTitle{
    margin-left: 27rem;
    font-size: 1.5rem;
    background-color: #ffe3e2;
    border-radius: 10px;
    width:15rem;
    color: rgb(186, 142, 142);
    font-family: Zen Loop,cursive;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px 20px;
    text-transform: uppercase;
}
.titlecoments{
    font-size: 1.5rem;
    background-color: #ffe3e2;
    border-radius: 10px;
    width:15rem;
    color: rgb(186, 142, 142);
    font-family: Zen Loop,cursive;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px 20px;
    text-transform: uppercase;

    /* margin-left: 27.5rem; */
  
   
    
}

.inputandbutton{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 65rem;
    
}
.inputComment{
    
    margin-left: 17rem !important;
    background-color:  #c29cbf !important;
    width: 30rem ;
    font-size: 2.2rem !important;
    border-radius: 10px;
    border: 2px solid #925fa8;
    font-family: "Montserrat",sans-serif;
  
}
.inputComment2{
    background-color: #e5c6f2 !important;
    width: 50rem ;
    height: 4rem;
    border-radius: 50px;
    border: 2px solid #e1bef0;
    font-family: "Montserrat",sans-serif;
  
}
.input-height{
    height: 4rem !important;
    display: flex;
    border-radius: 30px;
    
    width: 100%;
    text-overflow: clip;
    
    
}

.commentsbutton{
    display: flex;
    flex-direction: column;
    
}

.modify{
    background-color: rgb(145, 131, 145);
    border-radius: 20px;
    margin-left: 1rem;
}

.material-symbols-outlined {
    border-radius: 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.delete{
    background-color: rgb(209, 106, 106);
    border-radius: 100px;
    margin-left: 1rem;
}

.material-symbols-outlined {
    border-radius: 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.add{
    margin-left: .5rem;
    border-radius: 15px ;
    background-color: #a0cce5;
}
.material-symbols-outlined { 

    color: #1c1b1b;
    
    padding: 10px;  
    border-radius: 15px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
   
  }

  


.css-46bh2p-MuiCardContent-root{
    display: flex;
    justify-content: center;
}
/* @media(max-widt:1875px) {
    .allComments{
      
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 50px 20px 50px;
        border-radius: 20PX;
        
        
    }
  
} */
@media (max-width:400px) {
    .dobleitinerario {
        width: 32rem !important;
        display: flex !important
        ;
    }
    

.textItinerary {
    background-color: #c287a0;
    border-radius: 50px;
    color: #fff;
    font-family: Zen Loop,cursive;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px 20px;
    text-transform: uppercase;
    width: 18rem !important;
}
.h5 {
  
    font-family: Zen Loop,cursive;
    font-size: 1.5rem !important;
    font-weight: bolder;
    letter-spacing: .1rem;
 
    text-transform: uppercase;
}
    .formatoItinerary {
       
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 23rem;
        text-align: start;

    }
    .activitiesTitle{
        margin-left: 27rem !important;
        
    }
    
    .css-46bh2p-MuiCardContent-root{
     
        margin-left: 23rem !important;
        
      
    }
   
  
    .actImage{
        height: 15rem;

        border-radius: 35px;
      
     
    }
    .actsName{
        background-color: 
     #c287a0;
       ;
        border-radius: 10px;
        color: #fff;
        font-family: Zen Loop,cursive;
        font-size: .8rem;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 2px 20px;
        text-transform: uppercase;
     
        margin-left: 4rem;
    }
    .allComments{
      
        display: flex  !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 20PX !important;
        
        
    }
    .input-height {
        height: 2rem !important;
        display: flex !important;
        border-radius: 30px !important;
        word-break: break-word !important;
        width: 100%;
        text-overflow: clip !important;
    }
    .inputComment{
    
        margin-left: 25rem !important;
        background-color:  #c29cbf !important;
        width: 15rem ;
        font-size: 2.2rem !important;
        border-radius: 10px;
        border: 2px solid #925fa8;
        font-family: "Montserrat",sans-serif;
      
    }
    .inputComment2 {
       
        background-color:#e1bef0;
        width: 20rem;
        height: 3.8rem;
        border-radius: 50px;
        border: 2px solid #e1bef0;
        font-family: "Montserrat",sans-serif;
        text-overflow: clip !important;
}
 /*ajuste de el texto dentro de comentario*/
.textComment {
    margin-right: 0 !important; 
     padding-top: 0 !important;
    padding-left: 2rem !important;
    width: 15rem !important;
   
   
}
/*ajuste de edit y trash width
 margin: se mueve el input imagen nombre y botones*/
.nameImageUser {
    
    width: 23.9rem;
    margin-left: 17.2rem;
} /*ajuste de tamaño name user*/
.name {
    
    margin-bottom: 1rem !important;
    font-family: Zen Loop,cursive;
    font-size: .1rem !important;
    font-weight: bolder;
    letter-spacing: .1rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    text-transform: uppercase;
}
/* ajusta imagen la mueve a la izquierda para q entre */
.avatarComments {
    width: 3rem !important;
    margin-top: .4rem;
    margin-left: 3rem;
   
  
}

}
@media (max-width:700px) {
    .dobleitinerario {
        width: 38rem ;
        display: flex ;
    }
    .formatoItinerary {
       
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 23rem;
        text-align: start;

    }
    .activitiesTitle{
        margin-left: 28rem;
        font-size: 1.5rem;
        background-color: #ffe3e2;
        border-radius: 10px;
        width:15rem;
        color: rgb(186, 142, 142);
        font-family: Zen Loop,cursive;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 2px 20px;
        text-transform: uppercase;
    }
    
    .css-46bh2p-MuiCardContent-root{
        display: flex ;
        flex-direction: column;
        justify-content: center;
        margin-left: 23.5rem;
        
      
    }
   
  
    .actImage{
        height: 15rem;

        border-radius: 35px;
      
     
    }
    .actsName{
        background-color: 
     #c287a0;
       ;
        border-radius: 10px;
        color: #fff;
        font-family: Zen Loop,cursive;
        font-size: .8rem;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 2px 20px;
        text-transform: uppercase;
     
        margin-left: 4rem;
    }
    .allComments{
      
        display: flex  !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 20PX !important;
        
        
    }
    .input-height {
        height: 2rem !important;
        display: flex !important;
        border-radius: 30px !important;
        word-break: break-word !important;
        width: 100%;
        text-overflow: clip !important;
    }
    .inputComment{
    
        margin-left: 25rem !important;
        background-color:  #c29cbf !important;
        width: 15rem ;
        font-size: 2.2rem !important;
        border-radius: 10px;
        border: 2px solid #925fa8;
        font-family: "Montserrat",sans-serif;
      
    }
    .inputComment2 {
       
        background-color:#e1bef0;
        width: 22rem !important;
        height: 3.8rem;
        border-radius: 50px;
        border: 2px solid #e1bef0;
        font-family: "Montserrat",sans-serif;
        text-overflow: clip !important;
}
 /*ajuste de el texto dentro de comentario*/
.textComment {
    margin-right: 0 !important; 
     padding-top: 0 !important;
    padding-left: 2rem !important;
    width: 15rem !important;
   
   
}
/*ajuste de edit y trash width
 margin: se mueve el input imagen nombre y botones*/
.nameImageUser {
    
    width: 28.5rem !important;
    margin-left: 16rem !important;
   
} /*ajuste de tamaño name user*/
.name {
    
    margin-bottom: 1rem !important;
    font-family: Zen Loop,cursive;
    font-size: .1rem !important;
    font-weight: bolder;
    letter-spacing: .1rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    text-transform: uppercase;
}
/* ajusta imagen la mueve a la izquierda para q entre */
.avatarComments {
    width: 3rem !important;
    margin-top: .4rem;
    margin-left: 2.5rem;
   
  
}

}
/* @media (max-width:750px) {
    .dobleitinerario {
        width: 46rem !important;
        display: flex;
    }
} */
/* @media (max-width:680px) {
    .dobleitinerario {
        width: 44rem !important;
        display: flex !important;
    }
} */

@media (max-width:800px) {
    .dobleitinerario {
        width: 49rem;
        display: flex;
    }
    .formatoItinerary {
       
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 23rem;
        text-align: start;

    }
    .activitiesTitle{
        margin-left: 28rem;
        font-size: 1.5rem;
        background-color: #ffe3e2;
        border-radius: 10px;
        width:15rem;
        color: rgb(186, 142, 142);
        font-family: Zen Loop,cursive;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 2px 20px;
        text-transform: uppercase;
    }
    
    .css-46bh2p-MuiCardContent-root{
        display: flex ;
        flex-direction: column;
        justify-content: center;
        margin-left: 23.5rem;
        
      
    }
   
  
    .actImage{
        height: 15rem;

        border-radius: 35px;
      
     
    }
    .actsName{
        background-color: 
     #c287a0;
       ;
        border-radius: 10px;
        color: #fff;
        font-family: Zen Loop,cursive;
        font-size: .8rem;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 2px 20px;
        text-transform: uppercase;
     
        margin-left: 4rem;
    }
    .allComments{
      
        display: flex  ;
        flex-direction: column ;
        align-items: center ;
        justify-content: center ;
        border-radius: 20PX ;
        
        
    }
    .input-height {
        height: 2rem !important;
        display: flex !important;
        border-radius: 30px !important;
        word-break: break-word !important;
        width: 100%;
        
    }
    .inputComment{
    
        margin-left: 20rem !important;
        background-color:  #c29cbf !important;
        width: 24.5rem ;
        font-size: 2.2rem !important;
        border-radius: 10px;
        border: 2px solid #925fa8;
        font-family: "Montserrat",sans-serif;
      
    }
    .inputComment2 {
       
        background-color:#e1bef0;
        width: 30rem;
        height: 3.8rem;
        border-radius: 50px;
        border: 2px solid #e1bef0;
        font-family: "Montserrat",sans-serif;
        text-overflow: clip !important;
}
 /*ajuste de el texto dentro de comentario*/
.textComment {
    margin-right: 0 !important; 
     padding-top: 0 !important;
    padding-left: 2rem !important;
    width: 24rem !important;
   
   
}
/*ajuste de edit y trash width
 margin: se mueve el input imagen nombre y botones*/
.nameImageUser {
    
    width: 30rem;
    margin-left: 16rem;
} /*ajuste de tamaño name user*/
.name {
    
    margin-bottom: 1rem !important;
    font-family: Zen Loop,cursive;
    font-size: .1rem !important;
    font-weight: bolder;
    letter-spacing: .1rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    text-transform: uppercase;
}
/* ajusta imagen la mueve a la izquierda para q entre */
.avatarComments {
    width: 3.8rem !important;
    height: 3.8rem !important;
    margin-top: .4rem;
    margin-left: .5rem;
   
  
}

}