.main{
    flex-grow: 1;
    background-color: plum;
    min-height: 80vh;
}
.NavBar{
    height: 10vh;
    background-color: antiquewhite;
}
.footer{
    background-color: purple;
    height: 10vh;
}